<input class="cont_departamentos" type="hidden" th:value="${i}"/>
<!--item-->
<div id="item-departamento" class="swiper-departamentos ng-tns-c3-17 ng-star-inserted" th:each="departamento : ${departamentosEncontrados}">
    <div id="nombre-departamento" class="ng-tns-c3-17">
        <h2 class="text-size-subtitulo1" style="margin-bottom: 25px">
            <a class="ng-tns-c3-17" th:href="'/personas/departamento/' + ${departamento.nombre}" th:text="${departamento.nombre}"></a>
        </h2>
    </div>

    <div id="related-profiles">
        <div th:each="personas : ${departamento.personas}">
            <a th:each="persona, iter : ${personas}" th:if="${iter.index < 6}" th:href="'/personas/perfil/'+${persona.id}" th:title="${persona.nombre_mostrar}" class="related-profile__wrapper">
                <div class="profile-card">
                    <img th:if="${persona.foto != null && persona.foto != ''}" th:src="'data:image/jpeg;base64,' + ${persona.foto}" th:alt="${persona.nombre_mostrar}" class="img-fluid">
                    <img th:unless="${persona.foto != null && persona.foto != ''}" th:src="@{/assets/img/sinfoto.jpg}" th:alt="${persona.nombre_mostrar}" class="img-fluid">
                    <p class="related-profile__caption" th:text="${persona.nombre_mostrar}"></p>
                </div>
            </a>
            <a th:each="persona, iter : ${personas}" th:if="${iter.index >= 6}" th:href="'/personas/perfil/'+${persona.id}" th:title="${persona.nombre_mostrar}" class="related-profile__wrapper d-none ver-mas">
                <div class="profile-card">
                    <img th:if="${persona.foto != null && persona.foto != ''}" th:src="'data:image/jpeg;base64,' + ${persona.foto}" th:alt="${persona.nombre_mostrar}" class="img-fluid">
                    <img th:unless="${persona.foto != null && persona.foto != ''}" th:src="@{/assets/img/sinfoto.jpg}" th:alt="${persona.nombre_mostrar}" class="img-fluid">
                    <p class="related-profile__caption" th:text="${persona.nombre_mostrar}"></p>
                </div>
            </a>

            <!--boton mostrar mas-->
            <div class="btn-div" th:if="${#lists.size(personas) > 6}">
                <button id="showMore" class="more-results">
                    <p>Ver más resultados</p>
                    <span class="material-symbols-outlined">expand_more</span>
                </button>
            </div>
            <!--end of boton mostrar mas-->
        </div>
    </div>
</div>
<!--end of item-->