<input class="cont_publicaciones" type="hidden" th:value="${i}"/>
<!-- item -->
<div th:each="publicacion : ${publicacionesEncontradas}">
    <div class="col-12">
        <h6>
            <a class="titulo_publicacion font-weight-bold" target="_blank" th:href="${publicacion.url}" th:text="${publicacion.titulo}"></a>
        </h6>
        <div class="resultados_autores">
            <p style="display: inline-block; font-size: 14px" th:each="autor, status : ${publicacion.autores}" th:if="${autor.nombreCompleto != null}" class="ng-tns-c11-32 ng-star-inserted autor" th:text="${autor.nombreCompleto} + ${status.last ? '' : ',&nbsp;'}"></p>
            <p style="display: inline-block; font-size: 14px" th:each="autor, status : ${publicacion.autores}" th:unless="${autor.nombreCompleto != null}" class="ng-tns-c11-32 ng-star-inserted autor" th:text="${autor.nombre} + ${status.last ? '' : ',&nbsp;'}"></p>
        </div>
        <hr>
    </div>
</div>
<!-- end item -->