<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <link rel="shortcut icon" th:href="@{/assets/img/escudo-ucam.svg}"  type="image/x-icon"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- Metadata -->

  <title th:text="${persona.nombre_mostrar} + ' | UCAM Universidad Católica de Murcia'"></title>
  <meta property='og:title' th:content="${persona.nombre_mostrar} + ' | UCAM Universidad Católica de Murcia'"/>
  <meta name='twitter:title' th:content="${persona.nombre_mostrar} + ' | UCAM Universidad Católica de Murcia'"/>

  <!--Funciona se ve sin salto de linea-->
  <meta th:if="${persona.cargos != null && persona.ubicacion != null}" name='description' th:content="${persona.nombre_mostrar} + ' | ' + ${persona.cargos[0]} + ' ' + ${persona.nombre_mostrar} + ' | ' + ${persona.ubicacion}"/>
  <!--No funciona se muestra solo 1-->
  <!--<meta th:if="${persona.ubicacion != null}" name='description' th:content="${persona.nombre_mostrar} + ' | ' + ${persona.ubicacion}"/>-->

  <meta th:if="${persona.cargos != null}" property='og:description' th:content="${persona.nombre_mostrar} + ' | ' + ${persona.ubicacion}"/>
  <meta th:if="${persona.ubicacion != null}" property='og:description' th:content="${persona.nombre_mostrar} + ' | ' + ${persona.ubicacion}"/>-->

  <meta name='twitter:description' th:content="${persona.nombre_mostrar} + ' | ' + ${persona.ubicacion}"/>

  <link rel='canonical' th:href="@{https://personas.ucam.edu/personas/perfil/${persona.id}}"/>
  <meta property='og:url' th:content="@{https://personas.ucam.edu/personas/perfil/${persona.id}}"/>
  <meta name='twitter:url' th:content="@{https://personas.ucam.edu/personas/perfil/${persona.id}}"/>

  <!--Constant metadata-->
  <meta property='og:type' content='website'/>
  <meta property="fb:app_id" content="501593976526558" />
  <!--End of constant metadata-->

  <meta property="og:image" th:content="'data:image/jpeg;base64,'  + ${persona.foto}"/>
  <meta name="twitter:image" th:content="${persona.foto}"/>
  <!-- End of Metadata -->

  <link th:href="@{/assets/plugins/ucam-icons/styles.css}" rel="stylesheet"/>
  <link th:href="@{/assets/css/swiper.min.css}" rel="stylesheet"/>
  <link th:href="@{/assets/css/main.css}" rel="stylesheet"/>
</head>

<body>

<header>
  <nav class="navbar navbar-light bg-info justify-content-end">
    <a class="navbar-brand mr-auto" href="/">
      <img class="img-fluid" th:src="@{/assets/img/logo.svg}" width="200" height="50" alt="Logo UCAM Personas">
    </a>
  </nav>

</header>

<article class="profile">

  <!-- portada -->
  <section>
    <div class="hero bg-ucam-gray-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-5 order-md-2 d-flex justify-content-center align-items-end">
            <img th:if="${persona.foto != null}" th:src="'data:image/jpeg;base64,' + ${persona.foto}" th:alt="${persona.nombre_mostrar}" class="img-fluid">
          </div>
          <div class="col-12 col-md-6 col-lg-5 order-md-1 profile__contact-data d-flex flex-column">
            <a th:href="@{/searchPersonal}" class="back-link mt-3 d-none d-md-block" title="Volver atrás">< Volver atrás</a>
            <!-- datos escritorio -->
            <div class="data-wrapper flex-1 flex-column justify-content-center d-none d-md-flex">
              <h2 class="text-size-titulo1 font-weight-bold mt-5 mt-md-0" th:text="${persona.nombre_mostrar}"></h2>
              <h4 class="text-size-subtitulo1"><i th:if="${persona.cargos != null}" th:text="${persona.cargos[0]}"></i>
              </h4>

              <p><i class="icon-email"></i>
                <a th:if="${persona.correos_institucionales != null}" th:href="'mailto:' + ${persona.correos_institucionales[0]}" th:title="'Enviar correo a ' + ${persona.correos_institucionales[0]}" th:text="${persona.correos_institucionales[0]}">
                </a>
              </p>

              <p th:if="${persona.telefonos != null && persona.telefonos[0] != ''}"><i class="icon-phone"></i>
                <a th:href="'tel:' + ${persona.telefonos[0]}" th:title="'Llamar al teléfono ' + ${persona.telefonos[0]}" th:text="${persona.telefonos[0]} + ' ' + ${persona.extension}">
                </a>
              </p>

              <p th:if="${persona.ubicacion != null && persona.ubicacion != ''}"><i class="icon-briefcase"></i>
                <a th:href="${persona.ubicacion}" th:title="${persona.ubicacion}" th:text="${persona.ubicacion}">
                </a>
              </p>

              <ul class="list-inline mt-2">
                <li th:if="${persona.instagram != null && persona.instagram != ''}" class="list-inline-item text-size-titulo2">
                  <a class="decoration-none" th:href="${persona.instagram}" title="Instagram">
                    <i class="icon-instagram"></i>
                  </a>
                </li>
                <li th:if="${persona.linkedin != null && persona.linkedin != ''}" class="list-inline-item text-size-titulo2">
                  <a class="decoration-none" th:href="${persona.linkedin}" title="LinkedIn">
                    <i class="icon-linkedin"></i>
                  </a>
                </li>
                <li th:if="${persona.twitter != null && persona.twitter != ''}"  class="list-inline-item text-size-titulo2">
                  <a class="decoration-none" th:href="${persona.twitter}" title="LinkedIn">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
              </ul>

            </div>
            <!-- end datos escritorio -->
          </div>
        </div>
      </div>
    </div>


    <!-- datos móvil -->
    <div class="container d-block d-md-none">
      <div class="row">
        <div class="col-12 profile__contact-data">
          <h2 class="text-size-titulo1 font-weight-bold mt-4 mt-md-0" th:text="${persona.nombre_mostrar}"></h2>
          <h4 class="text-size-subtitulo1"><i th:if="${persona.cargos != null}" th:text="${persona.cargos[0]}"></i></h4>
          <p><i class="icon-email"></i>
            <a th:if="${persona.correos_institucionales != null}" th:href="'mailto:' + ${persona.correos_institucionales[0]}" th:title="'Enviar correo a ' + ${persona.correos_institucionales[0]}" th:text="${persona.correos_institucionales[0]}">
            </a>
          </p>

          <p><i class="icon-phone"></i>
            <a th:if="${persona.telefonos != null}" th:href="'tel:' + ${persona.telefonos[0]}" th:title="'Llamar al teléfono ' + ${persona.telefonos[0]}" th:text="${persona.telefonos[0]} + ' ' + ${persona.telefonos[0]}">
            </a>
          </p>

          <p th:if="${persona.ubicacion != null}" th:text="${persona.ubicacion}"><i class="icon-room"></i></p>

          <ul class="list-inline mt-2">
            <li class="list-inline-item text-size-titulo2">
              <a class="decoration-none" th:if="${persona.instagram != null}" th:href="${persona.instagram}" title="Instagram">
                <i class="icon-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item text-size-titulo2">
              <a class="decoration-none" th:if="${persona.linkedin != null}" th:href="${persona.linkedin}" title="LinkedIn">
                <i class="icon-linkedin"></i>
              </a>
            </li>
            <li class="list-inline-item text-size-titulo2">
              <a class="decoration-none" th:if="${persona.twitter != null}" th:href="${persona.twitter}" title="LinkedIn">
                <i class="icon-linkedin"></i>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <!-- end datos móvil -->

  </section>

  <!-- end portada -->

  <!-- contenido -->
  <section class="profile__content">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">

          <!-- inicio tabs -->
          <div id="profile-tabs" class="swiper-container">
            <ul class="nav nav-tabs nav-justified swiper-wrapper" id="results" role="tablist">
              <!--th:if="${informacionGeneral != null}"-->
              <li class="nav-item swiper-slide">
                <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="" aria-selected="true" id="informacion-tab" href="#informacion">Información general</a>
              </li>
              <!--th:if="${publicaciones != null}" -->
              <li class="nav-item swiper-slide">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="" aria-selected="false" id="publicaciones-tab" href="#publicaciones">Publicaciones</a>
              </li>
              <!--th:if="${proyectosCompetitivos != null}" -->
              <li class="nav-item swiper-slide">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="" aria-selected="false" id="proyectos-competitivos-tab" href="#proyectos-competitivos">Proyectos Competitivos</a>
              </li>
              <!--th:if="${proyectosNoCompetitivos != null}" -->
              <li class="nav-item swiper-slide">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="" aria-selected="false" id="proyectos-no-competitivos-tab" href="#proyectos-no-competitivos">Proyectos Competitivos</a>
              </li>
              <!--th:if="${docenciaImpartida != null}" -->
              <li class="nav-item swiper-slide">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="" aria-selected="false" id="docencia-tab" href="#docencia">Docencia impartida en los últimos años</a>
              </li>
            </ul>
          </div>
          <!-- end tabs -->

          <!-- contenido tabs -->
          <div class="tab-content">
            <!--informacion general-->
            <div class="tab-pane fade show active" id="informacion" role="tabpanel" aria-labelledby="informacion-tab">

              <h3 th:if="${persona.titulaciones_alumno != null}" class="text-size-subtitulo1">Formación</h3>
              <ul th:each="titulacion : ${persona.getTitulaciones_alumno()}">
                <li th:text="${titulacion}"></li>
              </ul>
              <h3 th:if="${persona.titulaciones_profesor != null}" class="text-size-subtitulo1">Formación</h3>
              <ul th:each="titulacion : ${persona.getTitulaciones_profesor()}">
                <li th:text="${titulacion}"></li>
              </ul>

              <!-- todo Preguntar como manejar esta informacion-->
              <h3 th:if="${persona.grupos_investigacion != null}" class="text-size-subtitulo1">Grupos de investigación</h3>
              <ul>
                <li><a></a></li>
              </ul>

              <!-- todo Recorrer las personas relacionadas o las del departamento-->
              <!-- personas relacionadas -->
              <h3 class="text-size-subtitulo1">Personas relacionadas</h3>
              <div id="related-profiles">
                  <!-- item -->
                  <a href="#" title="Samuel Ferrer García" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/sferrer.jpg}"
                           alt="Samuel Ferrer García">
                      <p class="related-profile__caption">Samuel Ferrer García</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="Nabil" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/nejey.jpg}" alt="Nabil">
                      <p class="related-profile__caption">Nabil El Jadaui El Yamaha</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="Jean Carlos" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/jcsousa.jpg}"
                           alt="Jean Carlos">
                      <p class="related-profile__caption">Jean Carlos De Sousa González</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="María Sánchez García" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/msanchez.jpg}"
                           alt="María Sánchez García">
                      <p class="related-profile__caption">María Sánchez García</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="Samuel Ferrer García" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/sferrer.jpg}"
                           alt="Samuel Ferrer García">
                      <p class="related-profile__caption">Samuel Ferrer García</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="Nabil" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/nejey.jpg}" alt="Nabil">
                      <p class="related-profile__caption">Nabil El Jadaui El Yamaha</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="Jean Carlos" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/jcsousa.jpg}"
                           alt="Jean Carlos">
                      <p class="related-profile__caption">Jean Carlos De Sousa González</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="María Sánchez García" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/msanchez.jpg}"
                           alt="María Sánchez García">
                      <p class="related-profile__caption">María Sánchez García</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="Jean Carlos" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/jcsousa.jpg}"
                           alt="Jean Carlos">
                      <p class="related-profile__caption">Jean Carlos De Sousa González</p>
                    </div>
                  </a>
                  <!-- end item -->
                  <!-- item -->
                  <a href="#" title="María Sánchez García" class="related-profile__wrapper">
                    <div class="profile-card">
                      <img class="img-fluid" th:src="@{/assets/img/personas/msanchez.jpg}"
                           alt="María Sánchez García">
                      <p class="related-profile__caption">María Sánchez García</p>
                    </div>
                  </a>
                  <!-- end item -->
                <!-- item -->
                <a href="#" title="Samuel Ferrer García" class="related-profile__wrapper">
                  <div class="profile-card">
                    <img class="img-fluid" th:src="@{/assets/img/personas/sferrer.jpg}"
                         alt="Samuel Ferrer García">
                    <p class="related-profile__caption">Samuel Ferrer García</p>
                  </div>
                </a>
                <!-- end item -->
                <!-- item -->
                <a href="#" title="Nabil" class="related-profile__wrapper">
                  <div class="profile-card">
                    <img class="img-fluid" th:src="@{/assets/img/personas/nejey.jpg}" alt="Nabil">
                    <p class="related-profile__caption">Nabil El Jadaui El Yamaha</p>
                  </div>
                </a>
                <!-- end item -->
              </div>
              <!-- end personas relacionadas -->

              <!--todo hacer qu efuncione el boton-->
              <!--Boton más resultados-->
              <div class="btn-div">
                <button class="more-results">
                  <p>Ver más resultados</p>
                  <span class="material-symbols-outlined">expand_more</span>
                </button>
              </div>
              <!--end of boton mas resultados-->
            <!--end of informacion general-->

              <!--todo formatear y preparar el resto de tabs-->
            <!--publicaciones-->
            </div>
            <div class="tab-pane fade" id="publicaciones" role="tabpanel" aria-labelledby="publicaciones-tab">

              <h6>Aplicación de la metodología del Aula Inversa en asignaturas del Grado en Turismo</h6>
              <p>María Dolores Gil , Margarita Capdepón , Miguel Ángel Beltrán , Francisco José Noguera ,
                Ginesa Martinez , María Dolores García , Jorge López , María Fernández , Victoria Pérez
                , Mario Cava (2015)
              </p>
              <p class="text-color-ucam-gray-medium">Publicado en: <strong>La Universidad como comunidad
                de innovación y cambio</strong>, 112, 120
              </p>
            </div>
            <!--End of publicaciones-->

            <!--Proyectos competitivos-->
            <div class="tab-pane fade" id="proyectos-competitivos" role="tabpanel" aria-labelledby="proyectos-competitivos-tab">
              3
            </div>
            <!--End of proyectos competitivos-->
            <!--Proyectos no competitivos-->
            <div class="tab-pane fade" id="proyectos-no-competitivos" role="tabpanel" aria-labelledby="proyectos-no-competitivos-tab">
              4
            </div>
            <!--End of proyectos competitivos-->
            <!--Docencia impartida-->
            <div class="tab-pane fade" id="docencia" role="tabpanel" aria-labelledby="docencia-tab">
              5
            </div>
            <!--End of docencia impartida-->

          </div>

          <!-- end content tabs -->
        </div>
      </div>
    </div>

  </section>
  <!-- end contenido -->

</article>


<script th:src="@{/assets/js/vendor/jquery.slim.min.js}"></script>
<script th:src="@{/assets/js/vendor/popper.min.js}"></script>
<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/vendor/swiper.js}"></script>
<script th:src="@{/assets/js/profile.scripts.js}"></script>
</body>
</html>